<link rel="stylesheet" href="/css/login.css">

<div class="container">
    <div class="card card-container">
        <h3>Thay đổi mật khẩu</h3>
        <p>Thay đổi mật khẩu thường xuyên giúp bảo vệ tài khoản tốt hơn.</p>
        <form class="form-group">
            <input type="password" id="inputPassword" class="form-control" placeholder="Mật khẩu hiện tại" required>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Mật khẩu mới *" value="" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Xác nhận mật khẩu mới *" value="" />
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Lưu thay đổi</button>
        </form><!-- /form -->
        <a href="" class="forgot-password">
            Quên mật khẩu?
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->