


<link rel="stylesheet" href="/css/home.css">

<div class="home-section">
    {{!-- s1 --}}
    <div id="section-1" class="section-content">
        <div class="grid wide">
            <div class="row">
                <div class="col l-6 m-12 c-0 section-left">
                    <img class="section-1__img" src="/img/universities1.png" alt="">                 
                </div>
                <div class="col l-6 m-12 c-0 section-right">
                    <h1 class="section-1__heading">Kiểm tra trình độ Tiếng Anh ngay hôm nay</h1>
                    <ul class="section-1__list">
                        <li class="section-1__item"><i class='bx bx-laptop'></i>Làm bài thi trực tuyến tại bất kỳ đâu, bất kỳ lúc nào</li>
                        <li class="section-1__item"><i class='bx bxs-timer' ></i>Hoàn thành trong 75 phút và nhận ngay kết quả</li>
                        <li class="section-1__item"><i class='bx bxs-badge-dollar'></i>Hoàn toàn miễn phí</li>
                    </ul>
                    <a href="/user" class="btn">
                    <span>LÀM BÀI THI</span></a>
                </div>
            </div>
        </div>
    </div>
    {{!-- s2 --}}
    <div id="section-2" class="section-content">
        <div class="grid wide">
            <div class="row">
                 <div class="col l-12">
                    <h1 class="section-2__heading">Đáp ứng nhu cầu của người học và miễn phí</h1>
                </div>
            </div>
            <div class="row ">
                <div class="col l-4 section-2__list">
                    <img class="section-2__img" src="/img/convenient.png" alt="">
                    <div class="section-2__content">
                    <h2>Thuận tiện</h2>
                    <span>Làm bài thi trực tuyến tại bất kỳ đâu, bất kỳ lúc nào không cần di chuyển tới trung tâm khảo thí hay hẹn trước</span>
                    </div>
                </div>
                <div class="col l-4 section-2__list">
                    <img class="section-2__img" src="/img/fast.png" alt="">
                    <div class="section-2__content">
                    <h2>Nhanh chóng</h2>
                    <span>Nhận ngay kết quả nhanh chóng kể từ khi hoàn thành bài thi, và ngay lập tức chia sẻ kết quả với bất kỳ ai</span>

                    </div>
                </div>
                <div class="col l-4 section-2__list">
                    <img class="section-2__img-pig" src="/img/affordable.png" alt="">
                    <div class="section-2__content">
                    <h2>Miễn phí</h2>
                    <span>Thực hành các khóa học, làm bài thi trực tuyến và nhận kết quả bài thi hoàn toàn miễn phí!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- s3 --}}
    <div id="section-3" class="section-content">
        <div class="grid wide">
            <div class="row">
                <div class="col l-6 section-left">
                    <h1 class="section-3__heading">Nhận kết quả của bạn và tải xuống không mất phí</h1>
                    <h2 class="section-3__content">T&C English Courses cho phép bạn làm bài thi, đăng ký các khóa học và nhận kết quả nhanh chóng sau khi hoàn thành bài thi. Bạn có thể tải bảng điểm của mình xuống bao nhiêu tùy thích và hoàn toàn miễn phí.</h2>

                    <a class="section-3__link" href="">XEM</a>
                </div>
                <div class="col l-6 section-right">
                    <img class="section-3__img" src="/img/section3.png" alt=""> 
                </div>
            </div>
        </div>
    </div>
    {{!-- s4 --}}
    <div id="section-4" class="section-content">
        <div class="grid wide">
            <div class="row">
                 <div class="col l-12">
                    <h1 class="section-2__heading">Kết quả chính xác trong giây lát</h1>
                </div>
            </div>
            <div class="row ">
                <div class="col l-4 section-2__list">
                    <img class="section-4__img" src="/img/5.png" alt="">
                    <div class="section-2__content">
                    <h2>Thiết lập nhanh (5 phút)</h2>
                    <span>Phần giới thiệu giúp bạn hiểu qua về các quy chế và yêu cầu của bài thi</span>
                    </div>
                </div>
                <div class="col l-4 section-2__list">
                    <img class="section-4__img" src="/img/45.png" alt="">
                    <div class="section-2__content">
                    <h2>Bài thi Toeic (75 phút)</h2>
                    <span>Phần chấm điểm để đánh giá kỹ năng Toeic nghe và đọc của bạn</span>

                    </div>
                </div>
                <div class="col l-4 section-2__list">
                    <img class="section-4__img" src="/img/10.png" alt="">
                    <div class="section-2__content">
                    <h2>Bài thi thử (15 phút)</h2>
                    <span>Phần thi lưu những câu trả lời của bạn đối với các câu hỏi mở</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- s5 --}}
     <div id="section-5" class="section-content">
        <div class="grid wide">
            <div class="row">
                 <div class="col l-12">
                    <h1 class="section-5__heading">Yêu cầu bài thi</h1>
                </div>
            </div>
            <div class="row ">
                <div class="col l-8">
                    <h2 class="section-5__sub">Bạn cần có</h2>
                    <ul class="section-5__list">
                        <li><i class='bx bx-bulb' ></i>Một căn phòng yên tĩnh, đủ sáng</li>
                        <li><i class='bx bx-time' ></i>75 phút rảnh rỗi</li>
                        <li><i class='bx bx-wifi' ></i>Kết nối internet ổn định</li>
                        <li><i class='bx bx-laptop' ></i>Một máy tính hoặc Điện thoại</li>
                    </ul>
                </div>
                <div class="col l-4 section-right">
                     <h2 class="section-5__sub">Máy tính bạn cần có</h2>
                    <ul class="section-5__list">
                        <li><i class='bx bx-camera' ></i>Camera mặt trước</li>
                        <li><i class='bx bx-microphone' ></i>Micrô</li>
                        <li><i class='bx bx-volume-full' ></i>Loa ngoài</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{!-- s6 --}}
      <div id="section-6" class="section-content">
        <div class="grid wide">
            <div class="row">
                <div class="col l-12 section-6__content">
                    <h1>Chứng nhận trình độ tiếng Anh</h1>
                    <a href="/user" class="btn">
                    <span>LÀM BÀI THI</span></a>             
                </div>              
            </div>
        </div>
    </div>
</div>