<link rel="stylesheet" href="/css/login.css">

    <div class="container login-section">
        <div class="card card-container">
            <h3>Đăng nhập</h3>
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="Địa chỉ Email" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Mật khẩu" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Ghi nhớ đăng nhập
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" style="font-size: 16px; color: #333">Đăng nhập</button>
            </form><!-- /form -->
            <a href="" class="forgot-password">
                Quên mật khẩu?
            </a>
            <a href="/register" class="register" style="color: ivory;">
                Đăng ký tài khoản của chúng tôi!
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->