<!--Link CSS-->
<link rel="stylesheet" href="/css/login.css">

<!--Profile-->
<div class="container">
  <div class="card card-container">
    <h3>THÔNG TIN CÁ NHÂN</h3>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Họ và tên">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Ngày sinh">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Giới tính">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Password">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Đia chỉ">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Số điện thoại">
      </div>

      <div class="d-flex flex-row-reverse bd-highlight">
        <div class="btn btn-primary btn-signin p-2 bd-highlight">Cật nhật</div>
        <div class="btn btn-primary btn-signin p-2 bd-highlight">Đổi mật khẩu</div>
      </div>
    </form><!-- /form -->
  </div><!-- /card-container -->
</div><!-- /container -->