<link rel="stylesheet" href="/css/user.css"/>


<div class="user">
  <div class="grid wide">
    <div class="section__user-item">
      <div class="row">
        <div class="col l-4">
          <div class="user-content">
            <img class="section__user-img" src="/img/thithu.png" alt="" />
          </div>
        </div>
        <div class="col l-4">
          <div class="user-content">
            <ul>
              <li class="user-content__first">15 PHÚT</li>
              <li class="user-content__second">Thi thử</li>
              <li class="user-content__last">Thoải mái luyện thi thử</li>
            </ul>
          </div>

        </div>
        <div class="col l-4">
          <div class="user-content">
            <button class="btn">Luyện Thi</button>
          </div>
        </div>
      </div>

    </div>

     <div class="section__user-item">
      <div class="row">
        <div class="col l-4">
          <div class="user-content">
            <img class="section__user-img" src="/img/khaosat.png" alt="" />
          </div>
        </div>
        <div class="col l-4">
          <div class="user-content">
            <ul>
              <li class="user-content__first">KHẢO SÁT TRƯỚC THI</li>
              <li class="user-content__second">Giới thiệu bản thân</li>
              <li class="user-content__last">Trả lời một vài câu hỏi nhỏ trước khi làm bài thi.</li>
            </ul>
          </div>

        </div>
        <div class="col l-4">
          <div class="user-content">
            <button class="btn">Làm Khảo Sát</button>
          </div>
        </div>
      </div>

    </div>

     <div class="section__user-item">
      <div class="row">
        <div class="col l-4">
          <div class="user-content">
            <img class="section__user-img" src="/img/lamtoeic.png" alt="" />
          </div>
        </div>
        <div class="col l-4">
          <div class="user-content">
            <ul>
              <li class="user-content__first">75 PHÚT</li>
              <li class="user-content__second">Làm bài Toeic</li>
              <li class="user-content__last">Bạn cần phải làm khảo sát trên trước khi làm bài thi.</li>
            </ul>
          </div>

        </div>
        <div class="col l-4">
          <div class="user-content">
            <button class="btn">Làm Bài Thi</button>
          </div>
        </div>
      </div>

    </div>

     <div class="section__user-item">
      <div class="row">
        <div class="col l-4">
          <div class="user-content">
            <img class="section__user-img" src="/img/note1.png" alt="" />
          </div>
        </div>
        <div class="col l-4">
          <div class="user-content">
            <ul>
              <li class="user-content__first">KHÓA HỌC</li>
              <li class="user-content__second">Giới thiệu khóa học</li>
              <li class="user-content__last">Đăng ký khóa học từ các trung tâm uy tín</li>
            </ul>
          </div>

        </div>
        <div class="col l-4">
          <div class="user-content">
            <button class="btn">Đăng Ký</button>
          </div>
        </div>
      </div>

    </div>

     <div class="section__user-item">
      <div class="row">
        <div class="col l-4">
          <div class="user-content">
            <img class="section__user-img" src="/img/note3.png" alt="" />
          </div>
        </div>
        <div class="col l-4">
          <div class="user-content">
            <ul>
              <li class="user-content__first">KHÓA HỌC</li>
              <li class="user-content__second">Reading</li>
              <li class="user-content__last">Đăng ký khóa học Reading hoàn toàn miễn phí</li>
            </ul>
          </div>

        </div>
        <div class="col l-4">
          <div class="user-content">
            <button class="btn">Đăng Ký</button>
          </div>
        </div>
      </div>

    </div>
    <div class="section__user-item">
      <div class="row">
        <div class="col l-4">
          <div class="user-content">
            <img class="section__user-img" src="/img/khoahoc.png" alt="" />
          </div>
        </div>
        <div class="col l-4">
          <div class="user-content">
            <ul>
              <li class="user-content__first">KHÓA HỌC</li>
              <li class="user-content__second">Listening</li>
              <li class="user-content__last">Đăng ký khóa học Listening hoàn toàn miễn phí</li>
            </ul>
          </div>

        </div>
        <div class="col l-4">
          <div class="user-content">
            <button class="btn">Đăng Ký</button>
          </div>
        </div>
      </div>

    </div>
    
  </div>

</div>
<script>
  const btns = document.querySelectorAll('.user-content .btn')
  for(const btn of btns){
    btn.addEventListener('click',function(){
      alert('Vui lòng đăng nhập')
    })
  }
</script>