<link rel="stylesheet" href="/css/footer.css">
{{!-- <div class="footer" style="margin-bottom: 0px;">
    <div class="container-fluid">
        <div class="text-footer">
            <p style="font-weight: bold; font-size: 18px;">TRANG TIN VỀ DỊCH BỆNH VIÊM ĐƯỜNG HÔ HẤP CẤP COVID-19</p>
            <p style="font-size: 15px;">KOT TEAM - DUY TAN INTERNATIONAL SCHOOL</p>
            <p style="font-size: 12px;">Số 254 Nguyễn Văn Linh, Thạc Gián, Thanh Khê, Đà Nẵng, Việt Nam</p>
            <p style="font-size: 12px;">ĐT: 0903.127.637 | Email: c1se22team@gmail.com</p>
            <p class="text" style="font-size: 10px;">Copyright © 2020 all rights reserved</p>
        </div>
    </div>
</div> --}}

<div class="main__footer">
            <div class="grid wide">
                <div class="row ">

                     <div class="col l-3 m-4 c-6 ">
                        <h3 class="footer__heading">Giới thiệu về Bài thi</h3>
                         <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item-link">Dành cho thí sinh</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item-link">Nghiên cứu khảo thí</a>
                            </li>
                             <li class="footer-item">
                                <a href="" class="footer-item-link">Các nguồn tư liệu khác</a>
                            </li>
                        </ul>
                    </div>

                     <div class="col l-3 m-4 c-6 ">
                        <h3 class="footer__heading ">Giúp đỡ & Hỗ trợ</h3>
                        <ul class="footer-list ">
                            <li class="footer-item">
                                <a href="" class="footer-item-link">Trung tâm trợ giúp</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item-link">Cách tính điểm</a>
                            </li>
                            <li class="footer-item">    
                                <a href="" class="footer-item-link">Hướng dẫn làm test</a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col l-3 m-4 c-6 ">
                        <h3 class="footer__heading">Quyền riêng tư & Điều khoản</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item-link">Điều khoản</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item-link">Quyền riêng tư</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="col l-3 m-4 c-6 ">
                        <h3 class="footer__heading ">Theo dõi</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item-link">
                                    <i class="footer-item-icon fab fa-facebook">Facebook</i>                            
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item-link">
                                    <i class="footer-item-icon fab fa-instagram">Instagram</i>                                
                                </a>
                            </li>
                            <li class="footer-item">    
                                <a href="" class="footer-item-link">
                                    <i class="footer-item-icon fab fa-linkedin-in">Linkedin</i>                                   
                                </a>
                            </li>
                        </ul>
                    </div>                     
                </div>
            </div>
            <div class="footer__bottom">
                <div class="grid wide">
                        <p class="footer__text">© 2021 Bản quyền thuộc về C2SE.05</p>
                </div>
            </div>    
        </div>