<!--Banner-->
<link rel="stylesheet" href="/css/header.css">
<div class="header">
    <div class="container-fluid">
        <div class="banner">
            <div class="grid wide">
                <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-6" style="text-align: center;display:flex">
                <a class="logo-img" href="/home"><img src="/img/logo.png" alt="logo" border="0" style="max-width: 60px;
                    height: auto; margin-top: 10px;"></a>
                    <h1 class="logo-font">T&C English Courses</h1>
                </div>
                {{!-- <div class="col-sm-3 col-md-3 col-lg-3 col-3" style="text-align: center;">
                
                </div> --}}
                <div class="col-sm-6 col-md-6 col-lg-6 col-6 " style="text-align: center; margin-top: 10px;">
                    <h2 class="banner-title">Free English Learning Website</h2>
                    <p class="banner-name">On The Way To Success, There Is No Trace Of Lazy Men</p>
                </div>
                {{!-- <div class="col-sm-3 col-md-3 col-lg-3 col-3" style="text-align: center;">
                    <h3>Hotline</h3>
                    <a href="tel:19001095" class="btn btn-danger" role="button">19001095</a>
                </div> --}}
            </div>
            </div>
        
        </div>
    </div>

<!--Navbar-->
    <nav class="navbar navbar-expand-sm  justify-content-center ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive" >
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link active mr-lg-4 ml-lg-4" href="/home">TRANG CHỦ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active mr-lg-4 ml-lg-4" href="#">KHÓA HỌC</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active mr-lg-4 ml-lg-4" href="#">GIỚI THIỆU</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active mr-lg-4 ml-lg-4" href="#">VỀ CHÚNG TÔI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active mr-lg-4 ml-lg-4" href="/register">ĐĂNG KÝ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active mr-lg-4 ml-lg-4" href="/login">ĐĂNG NHẬP</a>
                </li>
                {{!-- <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                        TÀI KHOẢN
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/taikhoan">Trang cá nhân</a>
                        <a class="dropdown-item" href="/dang-nhap">Đăng nhập</a>
                        <a class="dropdown-item" href="/dang-ky">Đăng ký</a>
                    </div>
                </li> --}}
            </ul>
        </div>
    </nav>
</div>
